data/raw
\diss_venvs
.DS_Store
\extreme-deconvolution
presentation/script.docx
# Ignore Python cache files
*/__pycache__
*.pyc
*.pyo


Literature
lib

# Sphinx build output
docs/_build/
docs/.doctrees/
docs/.sphinx/
docs/Makefile
docs/make.bat

# Build directories
build/
dist/
*.egg-info/
*.egg
